<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ultimate Tic Tac Toe</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
	            $(document).ready(function() {
	                $('a[class="tempclass"]').click(function() {
	                    $('#progress').show();
	                });
	            });
	        </script>
	</head>
	<body>
		<div class="common">
			<a href="/">Home</a>	
			<br>
			<br>
			{{ board|safe }}
			<div id="progress">
			CPU moving
			<br>
			<div class="loader a"></div>
			<div class="loader b"></div>
			<div class="loader c"></div>
		</div>
		</div>
	</body>
</html>