<!DOCTYPE html>
<html>
	<head>
		<title>Ultimate Tic Tac Toe</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="common">
			<a href="/">Home</a>	
			<br>
			<h1 class="common">{{last}}</h1>
			<h1 class="common">{{input}}</h1>
			<form action="{{ url_for('turn') }}" method="post">
				Select a Move:<input class="common" type="text" name="move" pattern="[A-Ia-i][0-8]\b" size=2) value="" autocomplete="off" autofocus="autofocus" required="required"><br>
				<input class="hidden" type="submit" name="passed" value={{data}}>
			</form>
		</div>
	</body>
</html>