<!DOCTYPE html>
<html>
	<head>
		<title>Ultimate Tic Tac Toe</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="common">
			<a href="/rule">Rules</a>	
		</div>
		<div class="common">
			<br>
			<h2 style="font-size: 48pt;">Welcome to Ultimate Tic Tac Toe</h2>
		</div>	
		
		<div class="common">
			<a href="/metadata/2">Play as X, go first</a><br>
			<a href="/metadata/0">Play as X, go second</a><br>
			<a href="/metadata/3">Play as O, go first</a><br>
			<a href="/metadata/1">Play as O, go second</a><br>
		</div>
	</body>
</html>