<!DOCTYPE html>
<html>
	<head>
		<title>Ultimate Tic Tac Toe</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="common">
			<a href="/rule">Rules</a>	
			<br>
			<h1>Ultimate Tic Tac Toe</h1>
			<!-- <br> -->
			<form action="{{ url_for('metadata') }}" class="common" method="post">
				<h1>-- Difficulty --</h1>
				<table>
					<tr>
						<td>
							<input type="radio" name="difficulty" id="radio1" value=0 checked="checked"> 
							<label for="radio1">Easy </label>
						</td>
						<td><p style="color:rgba(0,0,0,0)">----</p></td>
						<td>
							<input type="radio" name="difficulty" id="radio2" value=1> 
							<label for="radio2">Medium </label>
						</td>
						<td><p style="color:rgba(0,0,0,0)">----</p></td>
						<td>
							<input type="radio" name="difficulty" id="radio3" value=2> 
							<label for="radio3">Hard </label>
						</td>
						<!-- <td><p style="color:rgba(0,0,0,0)">----</p></td>
						<td>
							<input type="radio" name="difficulty" id="radio4" value=3> 
							<label for="radio4">Expert </label>
						</td> -->
					</tr>
				</table>
				
				<!-- <input type="submit" class="common" name="player" value="Play as X, go first"><br>
				<input type="submit" class="common" name="player" value="Play as X, go second"><br>
				<input type="submit" class="common" name="player" value="Play as O, go first"><br>
				<input type="submit" class="common" name="player" value="Play as O, go second"><br> -->
				<input type="submit" class="common" name="player" value="Go first"><br>
				<input type="submit" class="common" name="player" value="Go second"><br>
			</form>
		</div>
	</body>
</html>