<!DOCTYPE html>
<html>
	<head>
		<title>Ultimate Tic Tac Toe</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="common">
			<a href="/">Home</a>		
			<br>
			<p>Hello, and welcome to Ultimate Tic Tac Toe.</p>
			<p>There are 5 rules and a few more notes:

			1. The '*' symbol denotes a place you can play

			2. You win a small board by getting three of your pieces in a row

			3. You win the game by getting three in a row on the big board

			4. Wherever you play on one of the smaller tic tac toe boards, your opponent gets to place a piece in the corresponding larger board (this is called 'sending' a player to their next board)

			5. If you send your opponent to a smaller board that is already won, they can play anywhere on the big board that is not full
			
			Note: the last move your opponent played will be highlighted in red

			Note: the 3x3 square at the bottom of the screen is the state of the big board</p>

		</div>
	</body>
</html>