.common{
	color: white;
	font-weight: normal;
	font-family: 'Source Code Pro', monospace;
	font-size: 24pt;
	text-align: center;
	border:none;
	align-items: center;
	align-content: center;
}
.hidden{
	display: none;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover,focus{
	font-weight: bold;
	outline:none !important;
}
p{
	color: white;
	font-weight: normal;
	font-family: 'Source Code Pro', monospace;
	font-size: 16pt;
	text-align: left;
	border:none;
}
h1{white-space: pre;}
input{
	background-color: inherit;
	width: auto;
}
input:focus{
	outline:none !important; 
}
input[type="submit"]:hover,focus,checked{
	font-weight: bold;
}
table{
	margin-left: auto;
	margin-right: auto; 
}
td{
	padding-right:auto;
	padding-left: auto;
	display:inline-table;
}
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  text-align: center;
}

input[type="radio"] + label:hover {
  font-weight: bold;
}

input[type="radio"]:checked + label {
font-weight: bold;
}
body{
	background-color: #000000;
	align-content: center;
}