.common{
	font-weight: normal;
	font-family: monospace;
	font-size: 24pt;
	text-align: center;
	border:none;
	align-items: center;
	align-content: center;
}
.hidden{
	display: none;
}
a{
	text-decoration: none;
	color: #888888;
}
a:hover,focus{
	color: #FFFFFF;
	outline:none !important;
}
p{
	color: white;
	font-weight: normal;
	font-family: monospace;
	font-size: 16pt;
	text-align: left;
	border:none;
}
h1{
	white-space: pre;
	font-weight: normal;
	color: white;
}
input{
	background-color: inherit;
	color: #888888;
	width: auto;
}
input:focus{
	outline:none !important; 
}
input[type="submit"]:hover,focus,checked{
	color: white;
}
body{
	background-color: #000000;
	align-content: center;
	color: white;
}

/* difficulty level work */
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  text-align: center;
  color: #888;
}
input[type="radio"] + label:hover {
	color : white;
}
input[type="radio"]:checked + label {
	color : white;
}
table{
	margin-left: auto;
	margin-right: auto; 
}
td{
	padding-right:auto;
	padding-left: auto;
	display:inline-table;
	color: white;
}

/* loading icon work */
#progress {display: none;}
.loader{
	display: inline-block;
	position: relative;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: white;
}
.a{animation: pulsea 1.5s ease infinite;}
.b{animation: pulseb 1.5s ease infinite;}
.c{animation: pulsec 1.5s ease infinite;}
@keyframes pulsea {25%{transform: scale(1.67);}}
@keyframes pulseb {50%{transform: scale(1.67);}}
@keyframes pulsec {75%{transform: scale(1.67);}}

/*button{
	outline:none !important;
	background-color: #000000;
	color: red;
	padding: 0px;
	border: 0px;
	margin: 0px;

}
button[type="submit"]:hover,focus{
	outline:none !important;
	color: white;
	font-weight: bold;
}*/

/*.x{animation: move_x 4s ease infinite;}
@keyframes move_x {
	0% {left:0px;top:0px;}
	12.5% {left:-20px;top:-20px;}
	25% {left:0px;top:0px;}
	37.5% {left:20px;top:-20px;}
	50% {left:0px;top:0px;}
	62.5% {left:20px;top:20px;}
	75% {left:0px;top:0px;}
	87.5% {left:-20px;top:20px;}
	100% {left:0px;top:0px;}
}*/